.big-weight {
    font-size: 1.5rem;
    font-weight: 500;
}

.pre-wrap {
    white-space: pre-wrap;
}

.place-center {
    place-content: center;
}
// h1, h2, h3, h4, h5, h6 {
//     padding-block: 1rem;
//     // use padding and not margin to avoid unnecessary white space
// }

.g-v {
    font-family: "Great Vibes", system-ui;
}

// text aligning

.text-center {
    text-align: center;
}

.link_hover {
    background-image: linear-gradient(90deg,black, black);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: all 300ms ease, color 150ms;
    -webkit-transition: all 300ms ease, color 150ms;
    -moz-transition: all 300ms ease, color 150ms;
    -ms-transition: all 300ms ease, color 150ms;
    -o-transition: all 300ms ease, color 150ms;
    z-index: -1;
    padding: .5rem;
    line-height: 2.5rem;
    &:hover, &:focus-visible {
        background-size: 100% 100%;
        color: white;
        // border-color: transparent;
    }
}

.active_link {
    @media screen and (width > 768px) {
        border-bottom: 2px solid black;
        color: white !important;
    }
}